
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/Beach Bike Rentals.vbproj.CoreCompileInputs.cache
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/Beach Bike Rentals.vbprojAssemblyReference.cache
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Beach Bike Rentals/.vs/Beach Bike Rentals/v16/Server/sqlite3/storage.ide-wal
Beach Bike Rentals/.vs/Beach Bike Rentals/v16/.suo
Beach Bike Rentals/.vs/Beach Bike Rentals/v16/Server/sqlite3/db.lock
Beach Bike Rentals/.vs/Beach Bike Rentals/v16/Server/sqlite3/storage.ide
Beach Bike Rentals/.vs/Beach Bike Rentals/v16/Server/sqlite3/storage.ide-shm
Beach Bike Rentals/Beach Bike Rentals/bin/Debug/Beach Bike Rentals.exe
Beach Bike Rentals/Beach Bike Rentals/bin/Debug/Beach Bike Rentals.exe.config
Beach Bike Rentals/Beach Bike Rentals/bin/Debug/Beach Bike Rentals.pdb
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/Beach Bike Rentals.exe
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/Beach Bike Rentals.pdb
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/Beach Bike Rentals.vbproj.FileListAbsolute.txt
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/Beach Bike Rentals.vbproj.GenerateResource.cache
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/Beach Bike Rentals.xml
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/Beach_Bike_Rentals.frmBike.resources
Beach Bike Rentals/Beach Bike Rentals/obj/Debug/Beach_Bike_Rentals.Resources.resources
Beach Bike Rentals/Beach Bike Rentals/bin/Debug/Beach Bike Rentals.xml
Seattle Walking Tour/.vs/Seattle Walking Tour/v16/.suo
Seattle Walking Tour/.vs/Seattle Walking Tour/v16/Server/sqlite3/db.lock
Seattle Walking Tour/.vs/Seattle Walking Tour/v16/Server/sqlite3/storage.ide
Seattle Walking Tour/.vs/Seattle Walking Tour/v16/Server/sqlite3/storage.ide-shm
Seattle Walking Tour/.vs/Seattle Walking Tour/v16/Server/sqlite3/storage.ide-wal
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/Seattle Walking Tour.vbproj.CoreCompileInputs.cache
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/Seattle Walking Tour.vbprojAssemblyReference.cache
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Seattle Walking Tour/Seattle Walking Tour/bin/Debug/Seattle Walking Tour.exe
Seattle Walking Tour/Seattle Walking Tour/bin/Debug/Seattle Walking Tour.exe.config
Seattle Walking Tour/Seattle Walking Tour/bin/Debug/Seattle Walking Tour.pdb
Seattle Walking Tour/Seattle Walking Tour/bin/Debug/Seattle Walking Tour.xml
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/Seattle Walking Tour.exe
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/Seattle Walking Tour.pdb
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/Seattle Walking Tour.vbproj.FileListAbsolute.txt
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/Seattle Walking Tour.vbproj.GenerateResource.cache
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/Seattle Walking Tour.xml
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/Seattle_Walking_Tour.frmSeattle.resources
Seattle Walking Tour/Seattle Walking Tour/obj/Debug/Seattle_Walking_Tour.Resources.resources
Payroll Calculator/.vs/Payroll Calculator/v16/.suo
Payroll Calculator/.vs/Payroll Calculator/v16/Server/sqlite3/db.lock
Payroll Calculator/.vs/Payroll Calculator/v16/Server/sqlite3/storage.ide
Payroll Calculator/.vs/Payroll Calculator/v16/Server/sqlite3/storage.ide-shm
Payroll Calculator/.vs/Payroll Calculator/v16/Server/sqlite3/storage.ide-wal
Payroll Calculator/Payroll Calculator/bin/Debug/Payroll Calculator.exe
Payroll Calculator/Payroll Calculator/bin/Debug/Payroll Calculator.exe.config
Payroll Calculator/Payroll Calculator/bin/Debug/Payroll Calculator.pdb
Payroll Calculator/Payroll Calculator/bin/Debug/Payroll Calculator.xml
Payroll Calculator/Payroll Calculator/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Payroll Calculator/Payroll Calculator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Payroll Calculator/Payroll Calculator/obj/Debug/Payroll Calculator.exe
Payroll Calculator/Payroll Calculator/obj/Debug/Payroll Calculator.pdb
Payroll Calculator/Payroll Calculator/obj/Debug/Payroll Calculator.vbproj.CoreCompileInputs.cache
Payroll Calculator/Payroll Calculator/obj/Debug/Payroll Calculator.vbproj.FileListAbsolute.txt
Payroll Calculator/Payroll Calculator/obj/Debug/Payroll Calculator.vbproj.GenerateResource.cache
Payroll Calculator/Payroll Calculator/obj/Debug/Payroll Calculator.vbprojAssemblyReference.cache
Payroll Calculator/Payroll Calculator/obj/Debug/Payroll Calculator.xml
Payroll Calculator/Payroll Calculator/obj/Debug/Payroll_Calculator.frmPayroll.resources
Payroll Calculator/Payroll Calculator/obj/Debug/Payroll_Calculator.Resources.resources
Payroll Calculator/Payroll Calculator/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
